<html layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/common.css">
    <title>나의 타임라인 | Whispy</title>
</head>
<body>
<main layout:fragment="main">
    <div th:if="${#lists.isEmpty(posts)}">
        타임라인에 표시할 글이 없습니다. <i class="fa-solid fa-face-frown"></i>
    </div>
    <div th:if="${!#lists.isEmpty(posts)}">
        <div th:each="post : ${posts}">
            <span th:text="${post.writer}"></span>
        </div>
    </div>
</main>
</body>
</html>